<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>Smart College Utility Portal</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

    <h1>Smart College Utility Portal</h1>

    <ul>
        <li>Download Notes</li>
        <li>Check Timetable</li>
        <li>Track Assignments & Deadlines</li>
        <li>Read College Notices</li>
    </ul>

    <br>
    <a href="/login"><button>Login</button></a>
    <a href="/register"><button style="background-color: #008CBA;">Register</button></a>

</body>
</html>
